---
import BaseHead from '@components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION, TOP_VULNERALIBILITIES, BUFFER_OVERFLOW } from 'src/consts';
import { getCollection, getEntryBySlug } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import One from '@layouts/One.astro';
import Title from '@components/Title.astro';

const topVulnerabilities = (await getCollection(TOP_VULNERALIBILITIES)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const postsOverflow = await getEntryBySlug(BUFFER_OVERFLOW, 'intro')
/*  (await getCollection(BUFFER_OVERFLOW)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
 */
 const { Content } = await postsOverflow.render();
console.log(postsOverflow)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul li {
				display: flex;
				list-style: none;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<One>
		<section>
			<Title>Top Vulnerabilities</Title>
			<ul>
				{
					topVulnerabilities.map((post) => (
						<li>
							<FormattedDate date={post.data.pubDate} />
							<a href={`/${TOP_VULNERALIBILITIES}/${post.slug}/`}>{post.data.title}</a>
						</li>
					))
				}
			</ul>

			<Title>Buffer Overflow</Title>
				{
					<Content />
				}
		</section>
	</One>
</html>
